@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Tienda Umbrella.</h1>
    <p>Puede registrar su primera venta usando el DashBoard ubicado a la derecha.</p>
</div>
